@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
	font-family: 'Poppins';

}
body{
    /* background-image: url(./Images/pexels-darya-sannikova-4575426.jpg); */
    /* background-image: url(./Images/pexels-negative-space-33999.jpg); */
    /* background-image: url(./Images/pexels-photo-4334096.jpeg); */
    /* background-image: url(./Images/pexels-photo-821754.jpeg); */
    /* background-image: url(./Images/pexels-tyler-lastovich-1275929.jpg); */
    /* max-width: 100%; */
    /* height: auto; */
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(107, 102, 102);

}
h1{
    text-align: center;
    color: white;
}
.phone-container{
    width: 100vw;
    /* height: 10vh; */
    display: flex;
    overflow-x: hidden;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;


} 

.right{
    background-color: #00ff7f;
    background-color: black;
    width: 50rem;
    height: 90%;
    display: flex;
	flex-direction: column;
    padding: 15px;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 0px 0px 22px 0px  rgb(250, 249, 249);



}
.right{
    display: flex;
    gap: 5px;
	margin: 10px 0;
}
.phonebook-form{
    display: flex;
	margin-top: 20px;
    flex-direction: column;
}
.phonebook-form input{
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: #f3f4f7;
    margin-top: 10px;
    
}
label{
    margin-top: 10px;
    color: white;       
                    
}
.phonebook-form button{
    padding: 10px;
    border-radius: 5px;
    border: none;
	/* border: 1px solid #d1d5db; */
    background-color: rgb(107, 102, 102);
	cursor: pointer;
    margin-top: 20px;
    font-size: 20px;

}
#phonebook-picture{
    border: 3px solid white;
    background-color: white;
    /* background-color: blueviolet; */
	cursor: pointer;

}
.list{
    /* background-color: turquoise; */
    display: flex;
	flex-direction: column;
    padding: 15px;
    list-style-type: none

}
img{
    width: 100px;
    border-radius: 50%;
}
.list button{
    display: block;
    padding: 8px 5px;
   
    cursor: pointer;
    border: none;
    background-color: red;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
p{
    display: block;
}